.login-page {
  padding: 12px;
  .title{
    margin-top: 180px;
    text-align: left;
    font-weight: bold;
    line-height: 60px;
    padding-left: 40px;
    font-size: 32px !important;
  }

  .button{
    height: 80px;
    line-height: 80px;
    padding: 0;
    margin: 0 auto;
    font-size: 32px;
    color: #fff;
    background: #333;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
  }

}
